<h1>Admin Dashboard</h1>
<br>

<ul class="list-group list-group-flush">
  <li class="list-group-item">Total number of products: <%= @products %></li>
  <li class="list-group-item">Total number of categories: <%= @categories %></li>
</ul>
