<h1>Admin Dashboard</h1>
<br>

 <div class="panel panel-default products">

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th colspan="2">General stats</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Total number of products: <%= @products %>
          </td>
        </tr>
        <tr>
          <td>
            Total number of categories: <%= @categories %>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
