<h1 class="title">Welcome to the Jungle!</h1>
<br>
<div>
  <div class="alert alert-success" >
    <h3>Items at a price you can afford!</h3>
    <p>...if you have a good budget.</p>
  </div>
  <div class="alert alert-success">
    <h3>Hand made product right here in Canada!</h3>
    <p>All of our products are made by Jim, in his shed.</p>    
  </div>
  <div class="alert alert-success">
    <h3>No money back guarantee</h3>
    <p>That's right, you are stuck with your purchase!</p>
  </div>
  <div class="alert alert-success">
    <h3>Literally no customer service</h3>
    <p>Good luck getting in contact with us.</p>
  </div>
</div>

