// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";
@import "about";
@import "login";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-span {
  margin: 13px 10px;
}

.right-nav-div {
  margin-top: 3%;
  margin-right: 12px;
}
